/** UI Menu Customization **/


.ui-menu {
	list-style: none;
	margin: 0;
	display: block;
	outline: none;
	font-family: 'roboto';
	font-size: 12px;
	color: #515D70;
	
}
.ui-menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.ui-menu .ui-menu-item {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
}
.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 10px 1em 3px .4em;
	cursor: pointer;
	min-height: 0; /* support: IE7 */
	/* support: IE10, see #8844 */
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-state-hover {
	margin: 0;
	background-color: #EAF0FA;
	background-image: none;
	color: #515D70;
	border: none;

}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: 0;
	background-color: #EAF0FA;
	background-image: none;
	color: #7F8B9E;
	border: none;
	
}

.ui-menu-icon, ui-icon ui-icon-carat-1-e {
	display: none !important;
		
}

.ui-menu, ui-widget-content {
	border: 0px solid #122138;
	color: #515D70;
	background: #EAF0FA!important;
	height: 40px;
}

#menu .ui-menu-item ul {
	border: 1px solid #515D70;
	height: auto;
	padding-bottom: 8px;
	padding-left: 6px;


}
#menu ul li.ui-menu-item {
	width: 120px;

}

/**

#menu ui-menu-item span {
	border: 1px solid #515D70;

} **/



/** Not in Use **/
/**
#menu {
	font-family: 'roboto';
	font-size: 12px;
	color: #515D70;
	
}

#menu li {
	float:left;
	list-style:none;
	margin-right:20px;
	padding: 10px 10px 10px 10px;
}
#menu li a {
	text-decoration:none;
	font-size:12px;
	text-transform:uppercase;
}
#menu li a:hover {
	color:none;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
	
}
#menu li a span.ui-icon-carat-1-e {
    float:right;
    position:static;
    margin-top:2px;
    width:16px;
    height:16px;  background:url("images/ui-icons_888888_256x240.png") no-repeat -64px -16px;
}
#menu li ul {
	display:block;
	position:absolute;
	padding:5px 0px;
	background:#f0f0f0;
	
}
#menu li ul li {
	float:none;
	width:200px;
	margin-right:0px;
	padding:5px 10px;
}
#menu li ul li a {
	font-size:12px;
}
**/

/** Not in Use **/





