#header {
  background: #EAF0FA;
  color: white;
  height: 40px;
  position: relative;
  display: table;
  width: 100%; }
  #header .logo {
    width: 62px;
    height: 28px;
    padding: 6px 0 0 8px;
    float: left;
    display: table-cell; }
  #header .menuContainer {
    float: left;
    border-left: 1px solid #8E9FBC;
    margin-left: 8px;
    padding-right: 24px;
    padding-left: 12px;
    display: table-cell; }
  #header .login {
    float: right;
    background: #8E9FBC;
    font-family: 'roboto';
    font-size: 12px;
    width: 211px;
    height: 30px;
    padding: 10px 0 0 10px;
    display: table-cell; }

.actionBar {
  background: #253247;
  height: 32px;
  padding-top: 2px;
  float: left;
  width: inherit; }
  .actionBar .ui-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-top: 4px;
    background-image: url("images/ui-icons_2e83ff_256x240.png"); }

.ui-menu {
  font-family: 'roboto';
  font-size: 12px;
  display: block;
  outline: none;
  color: #515D70;
  height: 40px; }
  .ui-menu .ui-menu-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 0;
    /* support: IE7 */
    /* support: IE10, see #8844 */
    padding: 10px 10px; }
  .ui-menu .ui-state-focus, .ui-menu .ui-state-active, .ui-menu .ui-state-hover {
    margin: 0;
    color: #7F8B9E;
    border: none;
    background: none; }
  .ui-menu .ui-state-hover {
    color: #EAF0FA; }
  .ui-menu .ui-menu-divider {
    height: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
    margin-top: 12px;
    margin-bottom: 0;
    padding: 0px;
    border-color: #8E9FBC; }
  .ui-menu .ui-menu-icon {
    background: none; }
  .ui-menu .ui-icon {
    margin-top: 10px; }

#menu {
  background: #EAF0FA;
  border: none; }
  #menu ul {
    height: auto;
    padding-bottom: 0px;
    background: #EAF0FA; }
  #menu ul li {
    width: 150px;
    height: 24px;
    padding-left: 20px;
    background: #EAF0FA;
    padding-bottom: 0; }

.workspace-tabs {
  height: 33px; }

.ui-tabs {
  position: relative;
  /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  font: "roboto";
  font-size: 12px;
  padding: 0px; }

.treepanel {
  width: 250px;
  float: left;
  background: #253247;
  border-right: 2px solid #EAF0FA; }

body {
  margin: 0px; }

/**
@media (min-width: 768px) {
  .ace-container {
    width: auto;
  }
}
@media (min-width: 992px) {
  .ace-container {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .ace-container {
    width: auto;
  }
}
**/
#footer {
  background-color: #041227;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px; }
